<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Журналисты</title>
</head>
<body  th:align="center">
<h1>Все журналисты</h1>

<div th:each="ooda : ${jornalists}">
    <h3>----------------------------------------------------------------</h3>
    <h3 th:text="${'Имя: '+ooda.name}"></h3>
    <h3 th:text="${'Фамилия: '+ooda.fam}"></h3>
      <h4 th:text="${'Оклад: '+ooda.cena}"></h4>
    <h4 th:text="${'Изданных статей: '+ooda.kolvastat}"></h4>
    <h4 th:text="${'Дата рождения: '+ooda.denroj}"></h4>
</div>

<button>
    <a href="/jornalisti/filter">Поиск журналистов</a>
</button>
<button>
    <a href="/jornalisti/add">Добавить журналиста</a>
</button>
<br>
<button>
    <a onclick="javascript:history.back(-2); return false;">Назад</a>
</button>
</body>
</html>
<style>
    html *{
        font-family: Arial !important;
    }
    a{
        text-decoration: none;
    }
    button{
        font-size: 25px;
        width: 220px;
        height: 65px;
        margin-top: 20px;
        background-color: dimgray;
        border-radius: 15px;
    }
</style>