<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить журналиста</title>
</head>
<body  th:align="center">
<h1>Добавить журналиста</h1>
<form th:action="${'/jornalisti/add'}" method="post">
    <input type="text" name="name" placeholder="Введите имя журналиста"><br>
    <input type="text" name="fam" placeholder="Введите фамилию журналиста"><br>
    <input type="number" name="kolvastat" placeholder="Введите количество статей"><br>
    <input type="date" name="denroj"><br>
    <input type="text" name="cena" placeholder="Введите оклад за стаью">
  <br>
  <button type="submit">Добавить журналиста</button>
    <br>
    <button>
        <a onclick="javascript:history.back(-2); return false;">Назад</a>
    </button>
</form>

</body>
</html>
<style>
    html *{
        font-family: Arial !important;
    }
    a{
        text-decoration: none;
    }
    input{
        width: 205px;
        height: 55px;
        margin-top: 20px;
        background-color: silver;
        border-radius: 15px;
    }
    button{
        font-size: 25px;
        width: 220px;
        height: 65px;
        margin-top: 20px;
        background-color: dimgray;
        border-radius: 15px;
    }
</style>